body {
    margin : 0;
    background-color : rgb(252, 252, 252);
    display: flex;
    flex-direction: row;
    gap: 2;
}
#form-container{
    flex-grow: 1;
    padding: 12px;

}
#form-container form {
    display: flex;
    flex-direction: column;
}
#table-container {
    flex-grow: 2;
    padding: 12px;
}
#table-container table{
    width: 100%;
    border-collapse: collapse;
}